.grid {
    width: 600px;
    height: 200px;
    border: 1px solid brown;
    margin: auto;
}

.dino {
    width: 50px;
    height: 50px;
    background-color: green;
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

.block {
    width: 20px;
    height: 40px;
    background-color: blue;
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 580px;
}

.jump {
    animation: jump 0.5s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 120px;
    }

    50% {
        top: 80px;
    }

    80% {
        top: 120px;
    }

    100% {
        top: 150px;
    }
}

.block {
    animation: block 1.5s linear infinite;
}

@keyframes block {
    0% {
        left: 580px;
    }
    
    100% {
        left: 0px;
    }
}